.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 300px;
}.u-section-2 .u-sheet-1 {
  min-height: 508px;
}

.u-section-2 .u-image-1 {
  width: 179px;
  height: 175px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 300px;
}